{% extends "base.html" %}
{% load static %}

{% block title %}
  {% if deal %}Редактировать акцию{% else %}Создать акцию{% endif %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/deal_edit.css' %}">

<article class="card card-wide">
  <h2>
    {% if deal %}Редактировать акцию: {{ deal.title }}{% else %}Создать новую акцию{% endif %}
  </h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for field in form %}
      <p>
        {{ field.label_tag }} {{ field }}
        {% if field.errors %}
          <span style="color:red">{{ field.errors|join:", " }}</span>
        {% endif %}
      </p>
    {% endfor %}

    <button type="submit">Сохранить</button>

    {% if deal %}
      <a class="btn" href="{% url 'discounts:deal_detail' deal.pk %}">↩ Отмена</a>
    {% else %}
      <a class="btn" href="{% url 'discounts:home' %}">↩ Отмена</a>
    {% endif %}
  </form>
</article>

{% endblock %}