{% extends "base.html" %}
{% block title %}Удалить акцию{% endblock %}
{% block content %}

<article class="card card-wide" style="max-width:600px;margin:50px auto;">
  <h2>Вы уверены, что хотите удалить акцию?</h2>

  <p><strong>{{ deal.title }}</strong></p>
  <p>Это действие нельзя отменить.</p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn-admin delete">🗑 Удалить</button>
    <a href="{% url 'discounts:deal_detail' deal.pk %}" class="btn">↩ Отмена</a>
  </form>
</article>

{% endblock %}